@use '../abstract/index' as *;

.email-details {
  margin-block: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &__address {
    font-size: $text-xl;
    @include theme-aware {
      color: getValue('clr-text-primary');
    }
  }

  &__creation-date {
    @include theme-aware {
      color: getValue('clr-text-secondary');
    }
  }

  &__subject {
    font-size: $text-2xl;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include theme-aware {
      color: getValue('clr-text-primary');
    }
  }

  &__message {
    @include theme-aware {
      color: getValue('clr-text-secondary');
      line-height: 1.2;
    }
  }
}
